.rules {
  position: absolute;
  top: 0;
  right: 0;
}

.rules__inner {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  color: var(--color-a);
  padding: 40px 20px 40px;
}

.rules__title {
  font-size: 32px;
  margin-bottom: 12px;
}

.rules__toggle {
  position: relative;
  z-index: 1;
}

.is--visible .rules__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
