.rules {
  position: absolute;
  top: 0;
  right: 0;
}

.rules__inner {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  min-width: 25vw;
  height: auto;
  background: var(--color-a);
  color: #fff;
  padding: 40px 20px 40px;
}

.rules__toggle {
  position: relative;
  z-index: 1;
}

.is--visible .rules__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}