.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  color: var(--color-a);
  width: 100%;
  border-bottom: 5px solid var(--color-a);
}

.footer a {
  color: currentColor;
  font-size: 24px;
  font-weight: 200;
  margin-left: 5px;
  font-family: var(--ff-title);
  text-decoration: none;
  margin-bottom: 6px;
}