.validator {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background 50ms ease-in;

  --invalid: #f59696;
  --valid: #aed8ae;
}


.validator__inner {
  width: 50%;
}

.validator__title {
  font-size: 32px;
  font-weight: 600;
  font-family: var(--ff-body);
  margin-bottom: 12px;
  color: var(--color-a);
}

.validator__subtitle {
  display: block;
  font-size: 24px;
  margin-bottom: 6px;
}

.control--fw .control__input {
  width: 100%;
  padding: 10px;
  font-size: 32px;
  margin-bottom: 6px;
  color: var(--color-a);
}


.control--flex {
  display: flex;
  justify-content: flex-end;
}


.is--invalid {
  background: var(--invalid);
}

.is--valid {
  background: var(--valid);
}