.validator {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background 50ms ease-in;

  --invalid: #f59696;
  --valid: #aed8ae;
}


.validator__inner {
  width: 50%;
}

.validator__title {
  font-size: 32px;
  font-weight: 600;
  font-family: var(--ff-body);
  margin-bottom: 12px;
  color: var(--color-a);
}

.validator__subtitle {
  display: block;
  font-size: 24px;
  margin-bottom: 12px;
}


.control-group {
  display: flex;
}

.control--fw .control__input {
  width: 100%;
  padding: 10px;
  font-size: 32px;
  margin-bottom: 12px;
}

.controls {
  display: flex;
  flex: 0 0 25%;
}

.controls .control {
  margin-right: 10px
}

.control--flex {
  display: flex;
  justify-content: flex-end;
}


.control--checkbox {
  margin-left: auto;
}

.is--invalid {
  background: var(--invalid);
}

.is--invalid .control--fw .control__input {
  border: none;
  outline: 2px solid var(--color-stop);
}

.is--valid {
  background: var(--valid);


}

.is--valid .control--fw .control__input {
  border: none;
  outline: 2px solid var(--ampelmann);
}